<h1>All Users</h1>
<%= will_paginate @users %>
<table class="table table-condensed table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Profile</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td>
					<div>
						<%= user.full_name %>
					</div>
				</td>
				<td>
					<div><%= user.email %></div>
				</td>
				<td>
					<div>
						<%= link_to user.full_name, user %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @users %>